<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>JMXTrans Add-on</display-name>

  <context-param>
    <param-name>jmxtrans.config</param-name>
    <param-value>
      classpath:jmxtrans-exo.json
      classpath:exo/app-caches.json
      classpath:exo/jcr-caches.json
      classpath:exo/jmxtrans-internals.json
      classpath:exo/jvm-sun-hotspot.json
      classpath:exo/tomcat-7.json
    </param-value>
  </context-param>

  <listener>
    <listener-class>org.exoplatform.addons.jmxtrans.JMXTransLoaderListener</listener-class>
  </listener>
</web-app>